= form_with model: @store, local: true do |form|
	%label
		= form.label 'Nombre'
		%br
		= form.text_field :name
	%br
	%label
		= form.label 'Rama'
		%br
		= form.text_field :kind
	%br

	= form.submit 'Guardar'

= link_to 'Volver', stores_path