%h1 Tienda #{@store.name}
%ul
	%li
		%strong
			Rubro: 
		= @store.kind
	%li
		%strong
			Estado:
		= @store.statu
	= link_to 'Volver', stores_path 

- if @store.products.present? || @store.statu == 'principal'
	/ =link_to 'Crear Producto', new_store_product_path(@store)
	%h2 Productos
	%table 
		%thead
			%tr
				%th Name
				%th Price
				%th quantity
				%th size
				%th color
				%th model
				%th category
				%th options
		%tbody
		- @store.products.each do |product|
			%tr
				%td
					= product.name
				%td
					= product.price
				%td
					= product.quantity
				%td
					= product.size
				%td
					= product.color
				%td
					= product.model
				%td
					= product.category.name
				%td
					=link_to "Ver", store_product_path(product)
					=link_to "Editar", edit_store_product_path(product)
					=link_to "Eliminar", store_product_path(product), method: :destroy