<h2>¿Olvidó su Password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
	<br>
  <div class="actions">
    <%= f.submit "Enviar Recuperación de Password" %>
  </div>
<% end %>
<br>
 <%= devise_error_messages! %>
<%= render "devise/shared/links" %>
